mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1c36;
  height: 8%;

  .navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#toolbarHeader {
  color: white;
}

@media only screen and (max-width: 576px) {
  /* Styles for smartphones */
  .stravaPowered {
    width: 100px;
    height: auto;
  }

  .stravaPowered {
    width: 100px;
    height: auto;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1023px) {
  /* Styles for tablets and small laptops */
  /* Adjust column layouts, font sizes, etc. */
}
