<div class="body-container">
  <div class="main-body border">
    <mat-accordion>
      <div *ngFor="let group of GROUPS">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ group.groupName }} </mat-panel-title>
            <mat-panel-description>
              <div class="date">Start Date: {{ group.startDate }}</div>
              <div class="date">End Date: {{ group.endDate }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row class="action-row">
            <div class="action-content">
              <div class="athlete" *ngIf="mainUserInitiated">
                {{ mainUser?.firstname }} {{ mainUser?.lastname }}
              </div>
              <div class="athlete" *ngFor="let athlete of group.athletes">
                {{ athlete.firstname }} {{ athlete.lastname }}
              </div>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
  <div class="friends-list border">
    <div class="participants-title">Friends</div>
    <div class="participants-list">
      <li *ngFor="let participant of participants">{{ participant.name }}</li>
    </div>
  </div>
</div>
