body {
  box-sizing: border-box;
}

.dash-body {
  margin: 0;
  background-color: yellow;
  flex-grow: 1;
  height: 100%;
}

.border {
  border: 1px solid black;
}

.body-container {
  display: flex;
  height: 100%;
}

.main-body {
  width: 78%;
  height: 100%;
  margin: 0.5rem;
  max-width: 1000px;
}

.friends-list {
  width: 20%;
  height: 100%;
  margin: 0.5rem;
}

.participants-title {
  text-align: center;
  background-color: var(--secondary-color);
  margin-bottom: 0.25rem;
}

li {
  text-align: center;
}

.action-row {
  height: 80dvh;
  padding: 0.25rem;
}

.action-content {
  border: 1px solid black;
  width: 100%;
}

.date {
  margin-left: 1rem;
  margin-right: 1rem;
}

.leader {
  margin: 0.25rem;
  padding: 0.5rem;
}

.athlete {
  background-color: var(--blue-accent);
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 20px 20px;
}

.athlete-name {
  font-size: x-large;
  font-weight: bold;
}
