<div class="customnav-div">
  <div
    [ngClass]="{
      'menu-btn-div-left': !collapsedSignal(),
      'menu-btn-div-center': collapsedSignal()
    }"
  >
    <button mat-icon-button title="menu" (click)="collapse()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="sidenav-profile">
    <mat-icon matListItemIcon>person</mat-icon>
    <h5 *ngIf="!collapsedSignal()">Welcome {{ userName }}!</h5>
  </div>
  <div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" class="dash-item">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span
          *ngIf="!collapsedSignal()"
          matListItemTitle
          class="dash-item-title"
          >{{ item.name }}</span
        >
      </a>
    </mat-nav-list>
  </div>
</div>
