<div class="customnav-div">
  <div class="btn-div">
    <button mat-icon-button title="menu" (click)="collapse()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="sidenav-profile">
    <mat-icon matListItemIcon>person</mat-icon>
    <h5>Welcome Youngnam!</h5>
  </div>
  <div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" class="dash-item">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle class="dash-item-title">{{ item.name }}</span>
      </a>
    </mat-nav-list>
  </div>
</div>
