.main-body {
  width: 500px;
  padding: 5rem;
  border-radius: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  margin: 1rem;
}
