div {
  box-sizing: border-box;
}

.dash-header-parent {
  display: flex;
  flex-direction: column;
  padding: 0px;
  height: 100%;
}

.border {
  border: 1px solid black;
}

.d-h-top {
  height: 100%;
  display: flex;
  max-width: 1000px;
}

.d-h-mid {
  margin: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
}

.d-h-left {
  display: flex;
  align-items: center;
}

.d-h-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.d-h-buttons {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.d-h-title {
  font-size: xx-large;
}

@media only screen and (max-width: 576px) {
  /* Styles for smartphones */
  .d-h-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .d-h-title {
    font-size: large;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1023px) {
  /* Styles for tablets and small laptops */
  /* Adjust column layouts, font sizes, etc. */
}
