<div class="dc-div">
  <mat-sidenav-container
    [class.mat-is-side]="mode === 'side'"
    [class.mat-is-over]="mode === 'push'"
  >
    <mat-sidenav
      #sidenav
      opened="true"
      [mode]="mode"
      [style.width]="sideNavWidth()"
    >
      <app-custom-sidenav
        (onCollapse)="collapseNav($event)"
      ></app-custom-sidenav>
    </mat-sidenav>

    <mat-sidenav-content
      class="sidenav-content"
      [style.margin-left]="sideNavWidth()"
    >
      <div class="sn-cont-div">
        <app-dash-header class="dash-head"></app-dash-header>
        <app-dash-body class="dash-bod"></app-dash-body>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
