.sidenav-content {
  padding: 0;
  margin: 0;
}

mat-sidenav-container {
  height: 90vh;
}

.sn-cont-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-color);
}

.dash-head {
  background-color: var(--accent-color);
  margin-bottom: 0.5rem;
  padding: 1rem;
  height: 5rem;
  box-shadow: 0px 0px 5px 0px #000000;
}

.dash-bod {
  margin: 0;
  flex-grow: 1;
}
