<div>
  <mat-sidenav-container
    [class.mat-is-side]="mode === 'side'"
    [class.mat-is-over]="mode === 'push'"
  >
    <mat-sidenav opened [mode]="mode" [style.width]="sideNavWidth()">
      <app-custom-sidenav
        (onCollapse)="collapseNav($event)"
      ></app-custom-sidenav>
    </mat-sidenav>

    <mat-sidenav-content
      class="sidenav-content"
      [style.margin-left]="sideNavWidth()"
      (click)="clickContent()"
    >
      Hello
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
